btop/
discord/
git/
gtk-4.0/
gtk-3.0/
lazydocker/
mozilla/
nwg-look/
thefuck/
yay/
gh/
go/
lazygit/
nemo/
obsidian/
pulse/
hyprmon/
dconf/
Electron/
JetBrains/
oomox/
xsettingsd/
tmux/plugins/

dolphinrc
pavucontrol.ini
