*
!assets/
!assets/**
!assets-profile/
!assets-profile/**
!hypr/
!hypr/**
!fastfetch/
!fastfetch/**
!ghostty/
!ghostty/**
ghostty/**/*.bak
!rofi/
!rofi/**
!waybar/
!waybar/**
!yazi/
!zsh/
!zsh/.zprofile
!zsh/.zshrc
**/.claude/
!btop/
