configuration {
    modi: "drun,run,window";
    show-icons: true;
    drun-display-format: "{name}";
    display-drun: "Applications";
    display-run: "Run";
    display-window: "Windows";
    font: "JetBrainsMono Nerd Font regular 13";
}

@theme "~/.config/rofi/themes/gruvbox.rasi"
