window {
  font-family: JetBrainsMono Nerd Font;
  font-size: 14pt;
  color: #ebdbb2; 
  background-color: rgba(40, 40, 40, 0.55);
}

button {
  color: #ebdbb2; 
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30%;
  border-style: solid;
  border-radius: 0px;
  border-width: 2px;
  border-color: #ebdbb2;
  background-color: rgba(40, 40, 40, 0.86);
  margin: 10px;
  transition:
    box-shadow 0.1s ease-in-out,
    background-color 0.1s ease-in-out;
}

button:hover {
  background-color: #3c3836;
  color: #ebdbb2; 
}

#lock {
  background-image: image(url("./lock.png"));
}

#logout {
  background-image: image(url("./logout.png"));
}

#suspend {
  background-image: image(url("./sleep.png"));
}

#shutdown {
  background-image: image(url("./power.png"));
}

#reboot {
  background-image: image(url("./restart.png"));
}
